<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/templates/style.css">
    <link rel="stylesheet" href="/templates/contact.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <div class="headsec">
        <div class="header">
            <!-- <div class="menuhead"> -->
                <div class="logo">
                    <h2><a href="/"> Rohitash Singh</a></h2>
            </div>
            <div class="righthead">
                <ul>
                    <li class="right bodonhover">
                        <a href="/">Home</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="#about">About</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/Blog/blog.html">Blog</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/templates/contact.html">Contact Us</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/recommendation/index.html">Recommender</a>
                    </li>
                </ul>
                <div class="loginbtn">
                    <button class="btn" id="login">Login</button>
<!--                     <button class="btn" id="signup">Signup</button> -->
                </div>
            </div>
        </div>
    
    <div class="container">
    <header>
        <nav>
            <h1>Contact Form</h1>
            <p>Please fill all the texts in the fields.</p>
        </nav>
    </header>
    <div class="main">
        Your Name:<br>  <input type="text" name="name" id="name" placeholder="Your Full Name"><br> <br> 
        Your Email: <br> <input type="email" name="email" placeholder="Valid Email Address" id="email"><br> <br> 
        What\s your question,comment,or issue?<br>  <input type="text" name="text" placeholder="Your Message to Us" id="message"><br> <br> 
        Subject:<br><input type="text" name="name" placeholder="Anything else" id="subject"><br> 
        <input type="submit" value="send" id="submit" onclick="myFunction()">
    </div>
    </div>

    </div>
    <div class="footer">
        Copyright &copy not reserved!
    </div>

    <script src="contact.js"></script>
</body>
</html>
