<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contact.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <body>
        <div class="headsec">
            <div class="header">
                <div class="logo">
                    <h2>Rohitash Singh</h2>
                </div>
                <!-- <a href="https://dribbble.com/aromalanil"> Layout</a> -->
                <div class="righthead">
                    <ul>
                        <li class="right bodonhover">
                            <a href="/portfolio/portfolio 2.0/index.html">Home</a>
                        </li>
                        <li class="right bodonhover">
                            <a href="#about">About</a>
                        </li>
                        <li class="right bodonhover">
                            <a href="/portfolio/portfolio 2.0/blog.html">Blog</a>
                        </li>
                        <li class="right bodonhover">
                            <a href="/portfolio/portfolio 2.0/contact.html">Contact Us</a>
                        </li>
                    </ul>
                    <div class="loginbtn">
                        <button class="btn" id="login">Login</button>
                        <button class="btn" id="signup">Signup</button>
                    </div>
                </div>
            </div>
        </div>
        <form action="action.php">
            <div class="name">
                Name: <input type="text" name="name" id="name" width="100%">
            </div>
            <div class="email">
                Email: <input type="email" name="email" id="email" width="100%">
            </div>
            <div class="gender">
                Gender: <input type="radio" name="gender" id="gender" width="100%">
                        <input type="radio" name="gender" id="gender" width="100%">
            </div>

        </form>
    
            
</body>
</html>
