<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <div class="headsec">
        <div class="header">
            <!-- <div class="menuhead"> -->
                <div class="logo">
                    <h2>Rohitash Singh</h2>
                </div>
                <!-- <div class="menucontainer pointer" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="close">
                    <i class="fa fa-close pointer change "
                        style="background-color: aliceblue;color:rgb(29, 29, 210);width: 25px ; height: 5px;"></i>
                </div>
            </div> -->
            <!-- <a href="https://dribbble.com/aromalanil"> Layout</a> -->
            <div class="righthead">
                <ul>
                    <li class="right bodonhover">
                        <a href="/index.html">Home</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="#about">About</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="../Blog/blog.html">Blog</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/contact.html">Contact Us</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/recommendation/index.html">Recommender</a>
                    </li>
                </ul>
                <div class="loginbtn">
                    <button class="btn" id="login">Login</button>
                    <button class="btn" id="signup">Signup</button>
                </div>
            </div>
        </div>

        <div class="nav">
            <div class="home">
                <i class="fa fa-home pointer" style="background-color: aliceblue;color:rgb(29, 29, 210);"></i></button>
            </div>
            <div class="midnav">
                <div class="lang bodonhover">
                    <a href="/Python/python.html">PYTHON </a>
                </div>
                <div class="lang bodonhover">
                    <a href="/C/c.html">C</a>
                </div>
                <div class="lang bodonhover">
                    <a href="/CSS/CSS.html">CSS</a>
                </div>
                <div class="lang bodonhover">
                    <a href="/HTML/HTML.html">HTML</a>
                </div>
                <div class="lang bodonhover">
                    <a href="/Java/java..html">JAVA</a>
                </div>
                <div class="lang bodonhover">
                    <a href="/ML/ml.html">ML</a>
                </div>
                <div class="lang bodonhover">
                    <a href="/Sorting Algorithms/Sorting-algo.html">Sorting Algorithms</a>
                </div>
            </div>
            <div class="search">
                <div class="fa fa-search pointer" style="background-color: aliceblue;color:rgb(29, 29, 210);"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contentbox">
            <div class="card">
                <div class="left">
                    <h2 class="head">Rohitash Singh</h2>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae laboriosam alias ad quaerat,
                        adipisci amet magni maxime sapiente eius doloremque voluptate fugiat porro tenetur incidunt
                        obcaecati. Facere exercitationem molestias quo.
                    </p>
                    <div class="btncontainer">
                        <button class="bttn pointer" id="cv">Download CV</button>
                        <button class="bttn pointer" id="blog">Blog</button>
                    </div>
                </div>
            </div>

            <div class="image">
                <img src="/coffeeshop.jpg">
            </div>
        </div>
    </div>

    <div class="teccontainer">
        <div class="usetech">
            <h1>Technologies We Use</h1>
        </div>
        <div class="techcol">
            <div class="techrow">
                <div class="upbox">
                    <div class="box timage">
                        <img width="300" height="92" src="/Media/Numpy.png" class="img pointer"
                            alt="Numpy image">
                    </div>
                    <div class="box timage">
                        <img width="300" height="80" src="/Media/pandas.png" class="img pointer"
                            alt="Pandas image">
                    </div>
                    <div class="box timage">
                        <img width="300" height="90" src="/Media/Scikit learn.png" class="img py pointer"
                            alt="Scikit learn image">
                    </div>
                    <div class="box timage">
                        <img width="300" height="85" src="/Media/Seaborn.png" class="img py pl pointer"
                            alt="Seaborn image">
                    </div>
                </div>
                <div class="downbox">
                    <div class="box timage">
                        <img width="250" height="80" src="/Media/tensorflow.jpg" class="img py pointer"
                            alt="Tensorflow image">
                    </div>
                    <div class="box timage">
                        <img width="400" height="80" src="/Media/keras.png" class="img py pl pointer"
                            alt="Keras image">
                    </div>
                    <div class="box timage">
                        <img width="250" height="92" src="/Media/Opencv.png" class="img pointer" id="opencv"
                            alt="Open CV2 image">
                    </div>
                    <div class="box timage">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="teccontainer">
        <div class="usetech">
            <h1>Technologies We Use</h1>
        </div>
        <div class="boxcontainer">
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1"></div>
            <div class="box1">
                <img src="/Media/pytorch.png" class="box-img pointer" alt="pytorch image">
                <p>Py torch</p>
            </div>
            <div class="box1"></div>
        </div>
    </div>

    <div class="footercontainer">
        <div class="footer">
            <div class="name">
                <h1>WideAI</h1>
                <p>Thank you for choosing and supporting us!</p>
            </div>
            <div class="fcontainer">
                <div class="feature">
                    <div class="fhead">Languages</div>
                    <p>Python </p>
                    <p>Java </p>
                    <p> C </p>
                    <p>SQL </p>
                    <p>CPP </p>
                    <p> JavaScript </p>
                </div>
                <div class="blog">
                    <div class="fhead">
                        <a href="/index.html">Contribute</a>
                    </div>
                    <p>Write an artile</p>
                    <p>Improve an article</p>
                </div>
                <div class="information">
                    <div class="fhead">information</div>
                    <p>About Us</p>
                    <p>Our Charter</p>
                    <p>Our Research</p>
                    <p>Publications</p>
                    <p>Newsroom</p>
                    <p>Careers</p>
                </div>
                <div class="connect">
                    <div class="fhead">Conect with us on </div>
                    <div class="media">
                        <div class="face">
                            <i class="fa fa-github pointer px"></i>
                            </button>
                        </div>
                        <div class="face">
                            <i class="fa fa-linkedin pointer px"></i>
                            </button>
                        </div>
                        <div class="face">
                            <i class="fa fa-twitter pointer px"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>

</body>

</html>
