html{
    line-height: 1.5;
}
.headsec{
    z-index: 1;
    background-color: white;
    height: 6rem
}
.card{
    display: flex;
}
.article-container{
    display: flex;
}
.sticky{
    position: sticky;
    top: 0;
}
.sidebar{
    box-sizing: border-box;
    line-height: inherit;
    width: 15%;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 20px 0 0 20px;
    overflow-x: hidden;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 4.7rem;
    padding-bottom: 3rem;
}
.sidebar ul{
    display: inline-block;
    /* overflow-y: scroll; */
}
.sidebar li{
    /* list-style-type: disc; */
    list-style: none;
    margin: 5px;
    margin-left: 25px;
}
.content{
    width: 100%;
    padding: 10px;
    margin: 0 20px 20px 0;
    margin-left: 16%;
    background-color: aliceblue;
    
}
.heading{
    box-sizing: border-box;
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 1.2;
    margin: 5px 0;
    word-break: break-word;
}
.Normal-text p{
    margin: 4px;
    box-sizing: border-box;
}
.Normal-text ul li{
    margin-left: 25px;
    list-style-type: disc;
    box-sizing: border-box;
}
.t_btn{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.b_btn{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.article{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 10px;
}
.font_bold{
    font-weight: 700;
}
.text_weight{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.pl-2{
    padding-left: 0.5rem;
}
.pt-3{
    padding-top: 0.75rem;
}
.example{
    width: 10rem;
    min-height: 10vh;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 15px;
}


@media screen and (max-width: 1024px) {
    .sidebar{
        display: none;
    }
    .content{
        width: 100%;
        margin: 1rem;
    }
}
